extends layout
include _includes/sharedHTMLfunctions

block content
     .row.banner
        .col-12
             h1= pageHeader.title
                small &nbsp; #{pageHeader.strapline}
     .row.margin-bottom
        .col-12.col-md-8
            a.btn.btn-primary.float-right(href=`/add-player`) Add Player
     .row
        .col-12.col-md-8
            .error= message
            each player in players
                .card
                    .card-block
                        h4
                            a(href=`/players/${player._id}`)= player.name
                            small &nbsp;
                               +outputRating(player.rating)
                                    //- span.badge.badge-pill.badge-default.float-right 
                               a.btn.btn-primary.float-right(href=`/delete/${player._id}`) Remove
                        p.address= player.address
                        .facilities
                            each position in player.positions
                                span.badge.badge-warning= position 
        .col-12.col-md-4
            p.lead= sidebar